@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Raleway');

$title-font: 'Cinzel Decorative', cursive;
$content-font: 'Raleway', sans-serif;
$tuna-color: #333840;

body {
  margin: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.hero {
  background: url("../assets/mixer-black.jpeg") no-repeat fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.overlay {
  background-color: rgba(225, 225, 225, 0.62);
  width: 100%;
  height: 100vh;
}

.logo-container {
  position: relative;
  top: -86%;
  text-align: center;
  width: 100%;

  h1 {
    color: whitesmoke;
    font-size: 6em;
    font-family: $title-font;
    text-shadow: $tuna-color 6px 4px 6px;
  }
}

.intro-text-container {
  position: relative;
  top: -80%;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
  padding: 40px;
  background-color: rgba(2, 3, 3, 0.8);

  h2 {
    text-align: center;
    font-size: 2em;
    line-height: 60px;
    font-family: $content-font;
    color: #FD954B;
    text-shadow: 1px 1px 1px $tuna-color;
    //letter-spacing: 1px;
  }

  h3 {
    margin-left: 32px;
    font-family: $content-font;
    line-height: 30px;
    color: white;
  }
}

.navbar {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin: 0 auto;
}

.nav-link {
  padding: 8px 80px 0 80px;
  text-decoration: none;
  font-size: 2em;
  font-family: $content-font;
  color: whitesmoke;
  text-shadow: #787878 2px 2px 2px;
}

.dancers-wrapper {
  position: relative;
  width: 100%;
  height: 26vh;

  .dancers {
    position: absolute;
    bottom: -16%;
    width: 100%;
    height: 100%;
    background: url("../assets/peopledancing@0,5x.png") no-repeat center;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  text-align: center;
  font-family: $content-font;
  background-color: $tuna-color;

  .contact {
    width: 40%;
    height: 80%;
  }

  .social-media {
    width: 40%;
    height: 80%;
  }

  h3 {
    margin-top: 8%;
    font-size: 28px;
  }
}

.costumers {
  width: 100%;
  height: 300px;

  h1 {
    margin-bottom: 4%;
  }
}

.page-content {
  width: 100%;
  height: 60vh;
  padding: 4%;
  text-align: center;
  font-family: $content-font;
  box-sizing: border-box;
}

.costumer-image {
  width: 300px;
  height: 160px;
  margin-top: 40px;
}

//.fa.fa-copyright {
//  font-size: 1.2em;
//  color: white;
//}